<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>10x20標籤</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/main10x8.css" />
</head>

<body id="app">
  <nav class="navbar navbar-light bg-light">
    <form class="container-fluid justify-content-start">
      <a href="8x5-label.html" class="btn btn-primary">換8x5標籤</a>
    </form>
  </nav>
  <div class="row p-3">
    <div class="alert alert-danger" role="alert">
      <ul class="mb-md-0">
        <li></li>
      </ul>
    </div>
    <div class="col-7 labe-form">
      <div class="row">
        <div class="col-6">
          <div class="d-flex mb-2">
            <label for="" class="me-2">FROM<br />
              <span class="sm-text">(Vendor Code)</span></label>
            <div class="w-100">
              <input class="w-100 mb-2" type="text" placeholder="Vendor Code" v-model="fromCode" />
              <textarea class="w-100" id="" cols="30" rows="5" v-model="from"></textarea>
            </div>
          </div>
          <div class="d-flex mb-2">
            <label for="" class="me-2">TO<br /><span class="sm-text">(Customer Code)</span></label>
            <div class="w-100">
              <input class="w-100 mb-2" type="text" placeholder="Customer Code" v-model="toCode" />
              <textarea class="w-100" id="" cols="30" rows="5" v-model="to"></textarea>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex align-items-center mb-2">
            <label for="" class="me-2">Invoice No.</label>
            <input class="w-100" type="text" v-model="invoiceNo" />
          </div>
          <div class="d-flex align-items-center mb-2">
            <label for="" class="me-2">Forwarder</label>
            <input class="w-100" type="text" v-model="forwarder" />
          </div>
          <div class="d-flex align-items-center mb-2 date">
            <label for="" class="me-2">Ship Date(yyyy/mm/dd)</label>
            <input class="w-100 " type="date" v-model="shipDate" />
          </div>
          <div class="d-flex align-items-center mb-2">
            <label for="" class="me-2">Weight/kg</label>
            <input class="w-100" type="text" v-model="weight" />
          </div>
          <div class="d-flex align-items-center mb-2">
            <label for="" class="me-2">Dimension/cm</label>
            <input class="w-100" type="text" v-model="dimension" />
          </div>
          <div class="d-flex mb-2">
            <label for="" class="me-2">Customer PO No.</label>
            <input class="w-100" id="" v-model="customerPoNo"></input>
          </div>
          <div class="d-flex align-items-center mb-2">
            <label for="" class="me-2">貼紙數量</label>
            <input class="w-100" type="number" id="pages" v-model="amount" />
          </div>
        </div>
      </div>
      <hr />

      <button class="btn btn-success btn-sm mb-3" @click="handleAddField">
        新增欄位
      </button>
      <button class="btn btn-success float-end btn-sm mb-3" @click="handleReduceField">
        移除欄位
      </button>
      <div class="row align-items-center">
        <div class="col-2">CTN No.</div>
        <!-- <div class="col-2">Origin</div> -->
        <!-- <div class="col-3">PO No.</div> -->
        <div class="col-6">Product</div>
        <div class="col-2">Qty.</div>
        <div class="col-2">Unit</div>
      </div>
      <div class="row" v-for="(product,index) in productLengh">
        <div class="col-2">{{index+1}}</div>
        <!-- <div class="col-2">
          <input class="w-100" type="text" v-model="products[index].origin" />
        </div> -->
        <!-- <div class="col-3">
          <input class="w-100" type="text" v-model="products[index].poNo" />
        </div> -->
        <div class="col-6">
          <textarea class="w-100" id="" cols="30" rows="3" v-model="products[index].sku"></textarea>
        </div>
        <div class="col-2">
          <input class="w-100" type="text" v-model="products[index].qty" />
        </div>
        <div class="col-2">
          <!-- <select name="" id="">
              <option value=""></option>
            </select> -->
          <select v-model="products[index].unit">
            <option selected>EA</option>
            <option>B</option>
            <option>C</option>
          </select>

          <!-- <input class="w-100" type="text" v-model="products[index].unit" /> -->
        </div>
      </div>

      <hr />
      <div class="d-flex align-items-center mb-2">
        <label for="" class="me-2">barcode</label>
        <input class="w-100" type="text" v-model="barcode" />
      </div>
      <div class="d-flex align-items-center mb-2">
        <label for="" class="me-2">qrCode</label>
        <input class="w-100" type="text" v-model="qrcode" />
      </div>
      <button class="btn btn-danger" @click="clearData">
        清空
      </button>
      <button class="btn btn-warning float-end" @click="downloadPDF">
        下載Pdf
      </button>
    </div>
    <div class="col-5">
      <div class="label-design" id="label-design">
        <div class="pattern">
          <div class="pattern-1"></div>
          <div class="pattern-2"></div>
        </div>
        <!-- <div class="logo">
          <img src="images/logo.svg" alt="">
        </div> -->
        <div class="row label-top label-main m-0">
          <div class="col-6 p-2">
            <div class="h-50">
              <b>
                FROM<span class="sm-text fw-bold">(Vendor Code)</span><b>{{fromCode}}</b>
              </b>
              <!-- <div class="d-block pt-1">{{from}} </div> -->

              <div class="d-block" style="line-height: 17px; font-size: 16px;" v-html="formattedContent(from)"></div>
            </div>
            <div class="h-50">
              <b>
                To<span class="sm-text fw-bold">(Customer Code)</span><b>{{toCode}}</b>
              </b>
              <div class="d-block" style="line-height: 22px;" v-html="formattedContent(to)"></div>
            </div>
          </div>
          <div class="col-6 p-2">
            <div class="">
              <label class="me-2">Invoice No.</label>
              <b>{{invoiceNo}}</b>
            </div>
            <div class="">
              <label class="me-2">Forwarder</label>
              <b>{{forwarder}}</b>
            </div>
            <div class="">
              <label class="me-2">Ship Date</label>
              <!-- <b>{{shipDate}}</b> -->
              <b v-if="convertedDate">{{ convertedDate }}</b>

            </div>
            <div class="">
              <label class="me-2">Weight/kg</label>
              <b>{{weight}}</b>
            </div>
            <div class="">
              <label class="me-2">Dimension/cm</label>
              <b>{{dimension}}</b>
            </div>
            <div class="">
              <label class="me-2">Customer PO No.</label>
              <h3 style="display: block;height: 18px;">{{customerPoNo}}</h3>
            </div>
          </div>
        </div>
        <div class="row align-items-center label-product__header m-0 ">
          <div class="col-2">CTN No.</div>
          <!-- <div class="col-2">Origin</div> -->
          <!-- <div class="col-3">PO No.</div> -->
          <div class="col-6">Product</div>
          <div class="col-2">Qty.</div>
          <div class="col-2">Unit</div>
        </div>
        <div class="label-product__main">
          <div class="row label-product m-0" v-for="(product,index) in productLengh">
            <div class="col-2">{{index+1}}</div>
            <!-- <div class="col-2">{{products[index].origin}}</div>
            <div class="col-3">{{products[index].poNo}}</div> -->
            <div class="col-6">
              <!-- <h5>{{products[index].sku}}</h5> -->
              <div v-html="formattedContent(products[index].sku)"></div>
            </div>
            <div class="col-2">{{products[index].qty}}</div>
            <div class="col-2">{{products[index].unit}}</div>
          </div>
        </div>

        <div class="label-barcode pe-2 d-flex align-items-center justify-content-around">
          <canvas id="barcode" class="mt-2" style="max-width: 220px;"></canvas>
          <!-- <canvas class="barcode" jsbarcode-format="code128" jsbarcode-value="" jsbarcode-height="60"
            jsbarcode-fontSize="16">
          </canvas> -->
          <div id="qrcode" class="me-auto"></div>
          <!-- <img src="images/logo.png" alt="" class="bottom-logo"> -->
        </div>
      </div>
    </div>
  </div>

  <!-- <div>
    <label for="pages">貼指數：</label>
    <input type="number" id="pages" placeholder="Number of Pages">

    <button @click="downloadPDF">Generate PDF</button>
  </div> -->

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
  </script>

  <!-- 引入html2canvas庫 -->

  <script src="js/JsBarcode.all.min.js"></script>
  <script src="js/jquery.qrcode.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js'></script>

  <!-- 引入html2canvas庫 -->
  <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>


  <script>
    const {
      createApp,
      ref
    } = Vue;

    var products = [{
        pos: '',
        origin: '',
        poNo: '',
        sku: '',
        qty: '',
        unit: 'EA',
      },
      {
        pos: '',
        origin: '',
        poNo: '',
        sku: '',
        qty: '',
        unit: 'EA'
      },
      {
        pos: '',
        origin: '',
        poNo: '',
        sku: '',
        qty: '',
        unit: 'EA'
      },
      {
        pos: '',
        origin: '',
        poNo: '',
        sku: '',
        qty: '',
        unit: 'EA'
      }, {
        pos: '',
        origin: '',
        poNo: '',
        sku: '',
        qty: '',
        unit: 'EA'
      }
    ];

    createApp({
      data() {
        return {
          productLengh: 1,
          products,
          fromCode: '',
          from: '',
          toCode: '',
          to: '',
          invoiceNo: '',
          forwarder: '',
          barcode: 'CI00095323120801',
          shipDate: '',
          convertedDate: '',
          weight: '',
          dimension: '',
          customerPoNo: '',
          amount: 1,
          qrcode: 'http://www.plastlist.com/',
        };
      },
      mounted() {
        JsBarcode('#barcode', 'CI00095323120801', {
          format: 'CODE128',
          height: 80,
          width: 2,
          fontSize: 25,
        });
        $('#qrcode').empty('').qrcode({
          width: 60,
          height: 60,
          text: this.qrcode,
        });
      },
      created() {
        this.loadDataFromLocalStorage();
      },
      watch: {
        shipDate(newDate) {
          this.convertDate(newDate);
        }
      },

      methods: {
        convertDate(date) {
          const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
          const parsedDate = new Date(date);

          if (!isNaN(parsedDate.getTime())) {
            const day = parsedDate.getDate();
            const monthIndex = parsedDate.getMonth();
            const year = parsedDate.getFullYear();

            this.convertedDate = `${day} ${monthNames[monthIndex]} ${year}`;
          } else {
            this.convertedDate = 'Invalid Date';
          }
        },
        clearData() {
          this.fromCode = ''
          this.from = ''
          this.toCode = ''
          this.to = ''
          this.invoiceNo = ''
          this.forwarder = ''
          this.shipDate = ''
          this.weight = ''
          this.dimension = ''
          this.customerPoNo = ''
        },
        loadDataFromLocalStorage() {
          const data = localStorage.getItem('my10x20LabelData');
          if (data) {
            const parsedData = JSON.parse(data);
            Object.assign(this.$data, parsedData);
          }
        },

        formattedContent(text) {
          // 将换行符替换为 <br> 标签
          return text.replace(/\n/g, "<br>");
        },
        handleAddField() {
          if (this.productLengh < 4) {
            this.productLengh++;
          } else {
            this.productLengh == 4;
            alert('太多產品');
          }
        },
        handleReduceField() {
          if (this.productLengh <= 4 && this.productLengh > 0) {
            this.productLengh--;
          } else {
            alert('不能再少了');
          }
        },
        downloadPDF() {
          const dataToSave = {
            fromCode: this.fromCode,
            from: this.from,
            toCode: this.toCode,
            to: this.to,
            invoiceNo: this.invoiceNo,
            forwarder: this.forwarder,
            barcode: this.barcode,
            shipDate: this.shipDate,
            weight: this.weight,
            dimension: this.dimension,
            customerPoNo: this.customerPoNo,
            amount: this.amount,
            qrcode: this.qrcode,
          };

          localStorage.setItem('my10x20LabelData', JSON.stringify(dataToSave));

          JsBarcode('#barcode', this.barcode, {
            format: 'CODE128',
            height: 80,
            width: 2,
            fontSize: 25,
          });
          const pdfWidth = 300; // Default to A4 size
          const pdfHeight = 600;
          // const numberOfPages = parseInt(document.getElementById('pages').value) || 1;
          const numberOfPages = this.amount;

          const pdf = new jsPDF({
            orientation: 'portrait',
            unit: 'mm',
            format: [pdfWidth, pdfHeight],
          });

          // 取得要轉換成PDF的div
          // const contentToConvert = document.getElementById('contentToConvert');

          const contentToConvert = document.querySelector('.label-design');
          document.querySelector('.pattern').classList.add('hidden')
          contentToConvert.style.border = 'none';

          // 使用html2canvas將div轉換成PNG圖片
          html2canvas(contentToConvert, {
            width: 500, // 设置捕捉区域的宽度
            height: 1000, // 设置捕捉区域的高度
            scale: 2.26
          }).then(canvas => {
            const imgData = canvas.toDataURL('image/jpeg');

            for (let i = 1; i <= numberOfPages; i++) {
              if (i > 1) {
                pdf.addPage();
              }

              // 添加圖片到PDF
              pdf.addImage(imgData, 'PNG', 0, 0);



              pdf.setFontSize(100).setFont(undefined, 'bold');
              pdf.text(`CTN ${i}/${numberOfPages}`, 10, 60, {
                align: "right"
              });
            }

            // Save the PDF and trigger download
            pdf.save('output.pdf');
            location.reload()
          });
        }

      },
    }).mount('#app');
  </script>
</body>

</html>